.subscription {
    width: 328px;
    text-align: center;
}

.backBtnContent {
    position: absolute;
    top: 96px;
    left: 40px;
    // margin-top: 24px;
    // margin-left: 40px;
}

.bottomLine {
    margin-top: 196px;
}