.header {
    padding: 0px 24px 24px 24px;
    width: calc(100% - 48px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deskTitle {
    display: flex;
    align-items: center;
    gap: 24px;
}

.mobTitle {
    display: none;
}

.rightHeader {
    display: flex;
    gap: 40px;
    align-items: center;
}

.line {
    border: 1px solid #FFFFFF1A;
    height: 40px;
}

.streamPad {
    width: 957px;
    display: flex;
    flex-direction: column;
    gap: 35px;

    .Content {
        width: calc(100% - 48px);
        height: fit-content;
        padding: 24px;
        border-radius: 24px;
        background-color: var(--surfacePrimaryLess);
        display: flex;
        gap: 20px;

        .cover {
            width: calc(67% - 20px);
            height: 355px;
            border: 1px solid var(--borderPrimary);
            border-radius: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 32px;
            }

            .delete {
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: var(--surfaceInversed);
                position: absolute;
                top: 16px;
                right: 16px;
                cursor: pointer;

                &:hover {
                    outline: 2px solid #FFFFFF66;
                }
            }

            .upload {
                z-index: 2;
                display: flex;
                gap: 16px;
                flex-direction: column;
                align-items: center;

                .uploadIcon {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: var(--buttonWhite);

                    &:hover {
                        outline: 4px solid #FFFFFF66;
                    }
                }
            }
        }

        .errorCover {
            width: calc(67% - 20px);
            height: 355px;
            border: 1px solid var(--borderPrimary);
            outline: 2px solid var(--borderDestructive);
            border-radius: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 32px;
            }

            .delete {
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: var(--surfaceInversed);
                position: absolute;
                top: 16px;
                right: 16px;
                cursor: pointer;

                &:hover {
                    outline: 2px solid #FFFFFF66;
                }
            }

            .upload {
                z-index: 2;
                display: flex;
                gap: 16px;
                flex-direction: column;
                align-items: center;

                .uploadIcon {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: var(--buttonWhite);

                    &:hover {
                        outline: 4px solid #FFFFFF66;
                    }
                }
            }
        }

        .detail {
            width: 33%;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .videoType {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .title {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: var(--textPrimary);
                }

                .typeGroup {
                    display: flex;
                    gap: 10px;

                    .item {
                        padding: 0 12px;
                        border-radius: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        span {
                            color: var(--textSecondary);
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22.4px;
                        }

                        &:hover {
                            background-color: var(--surfaceAccentSubdued);
                        }
                    }

                    .itemSelected {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 22px;
                        border-radius: 20px;
                        padding: 0px 12px;
                        background-color: var(--surfaceAccentSubdued);
                        color: var(--textAccent);
                        
                        span {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22.4px;
                        }
                    }
                }
            }

        }
    }

    .action {
        display: flex;
        flex-direction: row-reverse;
        gap: 16px;

        .cancel {
            width: 128px;
        }
        .next {
            width: 128px;
        }
    }
}

.devicePad {
    width: 957px;
    display: flex;
    flex-direction: column;
    gap: 35px;

    .content {
        width: calc(100% - 48px);
        padding: 24px;
        display: flex;
        gap: 20px;
        border-radius: 24px;
        background-color: var(--surfacePrimaryLess);

        .cameraPreview {
            width: calc(67% - 20px);
            height: 328px;
            // background-color: var(--surfacePrimary);
            border-radius: 12px;
            background-image: url('../../assets/png/Image1.png');
            background-size: cover;
            position: relative;

            .videoTag {
                width: 100%;
                height: 328px;
                border-radius: 12px;
                position: absolute;
                background-color: black;
                transform: scaleX(-1);
            }

            .deviceOption {
                position: absolute;
                width: 100%;
                z-index: 10;
                padding-bottom: 16px;
                display: flex;
                gap: 10px;
                height: calc(100% - 16px);
                align-items: flex-end;
                justify-content: center;

                .btn {
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    background-color: var(--surfacePrimaryLess);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .cameraError {
            width: calc(67% - 20px);
            height: 328px;
            // background-color: var(--surfacePrimary);
            border-radius: 12px;
            background-color: var(--surfacePrimary);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 16px;

            .error {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                outline: 4px solid var(--borderPrimary);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .devices {
            width: 33%;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }

    .action {
        display: flex;
        flex-direction: row-reverse;
        gap: 16px;

        .return {
            width: 128px;
        }
        .goLive {
            width: 128px;
        }
    }
}